.hero {
    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 20px;
}

.hero--image-group {
    width: 396px;
    padding-top: 25px;
}

/* Section: Hero Text */
.hero--text {
    align-self: left;
}

.hero--text-title {
    padding-top: 32px;
}

.hero--text-body {
    padding-top: 16px;

    /* Error: when I try to add a width property of 320px, the align-self: left messes up */
    /* it says something about align-self: left being an invalid css property */
    width: 320px;
}
