.nav {
    height: 70px;
    display: flex;

    align-items: center;

    background: #ffffff;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

.nav--logo {
    height: 25px;
    padding-left: 30px;

    max-width: 100px;
}
